html {
    min-height: 100%;
    min-width: 100%;
}
    
body {
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 47, 37);
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    min-width: 100vw;
}

nav li {
    display: inline-block;
    list-style-type: none;
    background-image: url("wood.jpg");
    border: 0.2em;
    border-style: none solid;
    border-color: black;
    padding: 1em;
    margin: 0;
    color: whitesmoke;
    font-weight: bolder;
    cursor: pointer;
}

nav li:first-child {
    border-left-style: none;
    margin-left: 5em;
}

nav li:last-child {
    border-right-style: none;
}
nav ul {
    margin: 0;
    padding: 0;
}

div.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 1em 0em;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    flex-grow: 99;
    justify-content: space-around;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 0;
    width: 100%;
    min-width: 100vw;
    color: whitesmoke;
    background-image: url("wood.jpg");
}

aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    color: whitesmoke;
    margin: 1em;
}

#plan {
    display: flex;
    background-image: url("wood.jpg");
    height: 32em;
    width: 32em;
    padding: 1em;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    box-shadow: 1em 1em 0.5em rgb(27, 27, 27);
    border-radius: 5%;
    border-style: none;
    border-color: black;
}

#dock {
    display: flex;
    background-image: url("wood.jpg");
    width: 29em;
    padding: 1em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    box-shadow: 1em 1em 0.5em rgb(27, 27, 27);
    border-radius: 5%;
    border-style: none;
    border-color: black;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    margin: 1em;
}

h1 {
    font-size: 5em;
    align-self: center;
    margin: 0;
    color:whitesmoke;
    text-shadow: 0.1em 0em black;
}

nav {
    background-image: url("wood.jpg");
    width: 100%;
}

.fullPin {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border-color: black;
    border-width: 0.3em;
    border-style: solid;
    background: url(kulatina.jpg);
    margin: 1em;
}

.disabledPin {
    height: 1em;
    width: 1em;
    opacity: 0;
    margin: 1em;
}

.emptyPin {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.3em;
    background: black;
    border-color: black;
    margin: 1em;
}

.marked {
    border-color: aqua;
    animation: blick 1.5s 3 linear;
}

@keyframes blick {
    0%, 100% { border-color: aqua; }
    50% { border-color: black; }
}

#plan .fullPin:hover, #plan .emptyPin:hover {
    border-color: red;
}

.pinSet {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

body.modal-visible .page-wrapper {
    filter: blur(3px) grayscale(100%);
    transition: filter .5s ease;
}

body.modal-visible {
    overflow: hidden;
}

.page-wrapper {
    width: 100%;
    height: 100%;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    z-index: 99;
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
}

body.modal-visible .modal {
    visibility: visible;
}

.modal-content {
    margin: auto;
    padding: 2em;
    width: 50vw;
    height: 50vh;
    min-width: 30em;
    min-height: 20em;
    transform: scale(0);
    font-weight: bold;
    transition: transform 1s ease;
    border-radius: 2em;
    background-image: url(wood.jpg);
    border-style: solid;
    border-color: black;
    border-width: 1em;
}

body.modal-visible .modal-content {
    transform: scale(1);
}

.modal h1 {
    text-align: center;
    color: white;
    text-shadow: 0.1em 0em black;
}

.modal-button {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    padding: 0.5em;
    margin: 1em;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}

.modal-menu {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.new-game {
    cursor: pointer;
}

#custom-checkbox {
    overflow: hidden;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background: rgb(54, 47, 37);
    position: relative;
    display: block;
    cursor: pointer;
    border: solid black;
    border-width: 0.3em;
}

#custom-checkbox::before {
    position: absolute;
    content: "";
    display:block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: whitesmoke;
    left: 0;
    transition: all 0.2s ease;
}

#custom-checkbox-input {
    display: none;
}

#custom-checkbox-input:checked + #custom-checkbox::before {
    left: 100%;
    transform: translateX(-100%);
    background: whitesmoke;
}

.icon {
    width: 10em;
    height: 10em;
}

.icon-menu {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}

@media (max-device-width: 700px) and (orientation: landscape), (max-width: 1000px) and (orientation: landscape) {
    #plan {
        width: 25em;
        height: 25em;
    }

    #dock {
        height: 25em;
        width: 18em;
    }
}

@media (max-device-height: 700px) and (orientation: portrait), (max-height: 1000px) and (orientation: portrait) {
    #plan {
        width: 32em;
        height: 32em;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    div.game, nav {
        font-size: 24px;
    }

    header {
        padding: 2em;
    }

    #dock {
        width: 32em;
    }
}